@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600&family=Ubuntu:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #008bef;
}

body{
    font-family: 'Archivo', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Ubuntu', sans-serif;
}

h1{
    font-size: 34px;
}