#logo {
    height: 100vh;
    width: 100%;
    background-image: url("../../assets/imagens/notFound.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo main h2 {
    opacity: 0.65;
    color: rgba(0, 0, 0, 0.95) !important;
}

@media (max-width: 430px) {
    main h2 {
        font-size: xx-large !important;
    }
}