.container-busca {
    height: 100%;
    width: 100%;
    /* background-color: #CADAF3; */
}

.container-card {
    height: 500px;
    width: 100%;
}

#card-busca {
    box-shadow: 30px 30px 30px rgb(1 ,41, 112 , 8%);
}