main {
    height: 768px;
}

body main {
    width: 100%;
    height: 100%;
}

body main .linha {
    width: 100%;
    display: flex;
}

body main .coluna {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

body main .linha section:nth-child(1) {
    width: 424px;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0 30px rgb(1 ,41, 112 / 8%);
}

body main .linha .coluna section:nth-child(1) {
    width: 806px;
    height: 268px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0 30px rgb(1 ,41, 112 / 8%);
}

body main .linha .coluna section:nth-child(2) {
    width: 806px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0 30px rgb(1 ,41, 112 / 8%);
}

body main .linha section:nth-child(1) p {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 51px;
    width: 452px;
    height: 70px;
    text-align: center;
    color: #FFF9F9;
}

body main .linha .coluna section:nth-child(2) button {
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #161414;
}



