body {
    width: 100%;
    background: linear-gradient(89.13deg, rgba(0, 190, 173, 0.9) -13.05%, rgba(0, 190, 173, 0.27) 115.86%);
} 

body main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
